{% load static %}
{% block content %}

<header class="container px-28 sm:px-5">
  <nav
    x-data="{open: false}"
    class="font-rethink flex h-[100px] items-center justify-between py-3"
  >
    <div class="flex w-80 sm:w-full justify-between">
      {% comment %} Logo {% endcomment %}
      <a href="#">
        <img
          src="{% static 'assets/logo.svg' %}"
          alt="logo"
          class="sm:h-[45px] sm:w-[121px] lg:h-[76px] lg:w-[204px]"
        />
      </a>
      {% comment %} Icons {% endcomment %}
      <button @click="open = !open" class="hidden sm:block">
        <svg
          x-show="!open"
          xmlns="http://www.w3.org/2000/svg"
          width="28"
          height="28"
          viewBox="0 0 28 28"
          fill="none"
        >
          <path
            d="M13.9999 22.1667H19.8333H25.6666M2.33325 14H25.6666M2.33325 5.83337H25.6666"
            stroke="black"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        <svg
          x-show="open"
          xmlns="http://www.w3.org/2000/svg"
          width="28"
          height="28"
          viewBox="0 0 28 28"
          fill="none"
        >
          <rect
            width="28"
            height="28"
            fill="white"
            style="mix-blend-mode: multiply"
          />
          <path
            d="M23.3334 6.29996L21.7001 4.66663L14.0001 12.3666L6.30008 4.66663L4.66675 6.29996L12.3667 14L4.66675 21.7L6.30008 23.3333L14.0001 15.6333L21.7001 23.3333L23.3334 21.7L15.6334 14L23.3334 6.29996Z"
            fill="black"
          />
        </svg>
      </button>
    </div>
    {% comment %} Menu Desktop {% endcomment %}

    <ul class="flex items-center gap-10 py-8 sm:hidden">
      <li><a href="#" class="hover:text-darkgrey">Unser Service</a></li>
      <li><a href="#" class="hover:text-darkgrey">Über Uns</a></li>
      <li><a href="#" class="hover:text-darkgrey">Galerie</a></li>
      <li class="rounded-full border-2 border-black hover:bg-black hover:text-white group">
        <a href="#" class="flex items-center gap-3 p-1 ps-6">
          <span class="text-body2 font-bold">Kontakt</span>
          <svg
            width="38"
            height="38"
            viewBox="0 0 38 38"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="stroke-black group-hover:stroke-white"
          >
            <path
              d="M16.25 13.5L21.75 19L16.25 24.5"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
      </li>
    </ul>
    {% comment %} Menu Mobile {% endcomment %}
    <div
      x-show="open"
      x-cloak
      x-init="$watch('open', value => {
      document.body.classList.toggle('overflow-hidden', value);
      document.body.classList.toggle('bg-footerImg', value);
    })"
      class="font-armarante text-h3-mobile flex justify-center absolute mt-20 top-0 left-0 w-full h-screen bg-footerImg"
    >
      <ul class="flex flex-col gap-12 text-center mt-36">
        <li><a href="#" class="hover:text-darkgrey">Unser Service</a></li>
        <li><a href="#" class="hover:text-darkgrey">Über Uns</a></li>
        <li><a href="#" class="hover:text-darkgrey">Galerie</a></li>
        <li><a href="#" class="hover:text-darkgrey">Kontakt</a></li>
      </ul>
    </div>
  </nav>
</header>


{% endblock %}
