{% extends "base.html" %} {% load static wagtailcore_tags wagtailimages_tags %}
{% block content %}
{% comment %} Hero Section {% endcomment %}
<section id="hero" class="custom-container min-h-100svh relative">
  <img
    src="{% static 'assets/banner.png' %}"
    alt="banner"
    class="absolute right-0 h-[510px] object-cover sm:h-full"
  />

  <div
    class="relative z-10 flex max-w-[836px] flex-col items-start gap-8 pt-32 lg:pt-56 md:pt-40"
  >
    <h1 class="2xl:text-8xl text-4xl sm:text-7xl">{{ page.main_title }}</h1>
    <div class="my-8 w-3/4 font-rethink text-base text-darkgrey">
      {{ page.description|richtext }}
    </div>
    <div
      class="w-[191px] rounded-full bg-black hover:bg-darkgrey focus:bg-darkgrey"
    >
      <a href="#" class="flex items-center gap-6 p-1 ps-6">
        <span class="text-body2 font-rethink font-bold text-white"
          >{{ page.call_to_action }}</span
        >
        <svg
          width="38"
          height="38"
          viewBox="0 0 38 38"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect width="38" height="38" rx="19" fill="white" />
          <path
            d="M24.5 16.25L19 21.75L13.5 16.25"
            stroke="#000D26"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </a>
    </div>
  </div>
</section>

{% comment %} Services Section {% endcomment %}
<section id="our_services" class="custom-container mt-12 sm:mt-24">
  <div class="text-center">
    <h2 class="2xl:text-5xl text-3xl sm:text-4xl">
      {{ page.services_section_title }}
    </h2>
    <div class="my-8 font-rethink text-base text-darkgrey">
      {{  page.services_section_description|richtext }}
    </div>
  </div>
  <div
    class="2xl:grid-cols-4 grid grid-cols-1 gap-5 md:grid-cols-3 sm:grid-cols-2 sm:gap-8"
  >
    {% for block in page.services %}
    <div class="flex flex-col gap-4 border border-mediumgrey p-3 sm:p-4">
      <!-- Center the image -->
      <div class="flex items-center justify-center">
        {% image block.value.image height-200 %}
      </div>

      <!-- Text aligned to the start -->
      <div class="flex flex-col items-start">
        <h3 class="text-xl lg:text-2xl">{{ block.value.title }}</h3>
        <div class="py-4 font-rethink text-base text-darkgrey">
          {{ block.value.description|richtext }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% comment %} Features Section {% endcomment %}
  <div
    class="flex flex-col items-start justify-between gap-10 self-stretch pt-16 lg:gap-52 sm:flex-row sm:gap-20"
  >
    <div
      class="flex w-full max-w-[370px] flex-col items-start justify-between self-stretch"
    >
      <h2 class="text-2xl lg:text-4xl sm:text-3xl">
        {{ page.features_title }}
      </h2>
      <div class="hidden font-rethink text-base sm:block">
        {{ page.features_footer_note|richtext }}
      </div>
    </div>
    <div class="flex flex-col items-start gap-8">
      {% for block in page.features_items %}

      <h3 class="text-xl lg:text-2xl">
        {{ block.value.subtitle}}
      </h3>
      <div class="font-rethink text-base text-darkgrey">
        {{ block.value.features_text|richtext }}
      </div>

      {% if not forloop.last %}
      <hr class="w-full text-mediumgrey" />
      {% endif %}

      {% endfor %}  
    </div>
    <div
      class="mx-auto max-w-96 rounded-md bg-mediumgrey py-2 text-center sm:hidden"
    >
      <div class="font-rethink text-[14px] text-black">
        {{ page.features_footer_note|richtext }}
      </div>
    </div>
  </div>
</section>

{% comment %} About Us Section {% endcomment %}
<section id="about_us" class="custom-container mt-36">
  <h2 class="2xl:text-5xl text-center text-3xl sm:text-4xl">
    {{ page.about_us_title }}
  </h2>

  <div class="mt-12 flex flex-col gap-10 md:flex-row sm:gap-40">
    <!-- Timeline Column -->
    <div class="relative flex w-full flex-col md:w-1/2">
      <h3 class="mb-5 text-xl lg:text-2xl sm:mb-8">
        {{ page.about_us_subtitle }}
      </h3>

      <ol class="relative border-s border-mediumgrey">
        {% for block in page.about_us_stories %}
        <li class="mb-10 ms-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="17"
            height="16"
            viewBox="0 0 17 16"
            fill="none"
            class="absolute -start-[9.5px] mt-1"
          >
            <circle
              cx="8.94275"
              cy="8"
              r="7"
              fill="#EDEDED"
              stroke="#636363"
              stroke-width="2"
            />
          </svg>
          <time class="font-rethink text-base text-darkgrey"
            >{{ block.value.timeline_date }}</time
          >

          <div class="my-4 font-rethink text-base font-normal text-black">
            {{ block.value.story_text|richtext }}
          </div>
        </li>
        {% endfor %}
      </ol>
    </div>

    {% comment %} 
    Placeholder for Images Column or Additional Content 
    {% endcomment %}
    <div class="relative h-[350px] md:w-1/2 sm:h-[500px] flex items-center justify-center">
      {%image page.about_us_images.0.value fill-281x363 as about1_img%}
          <img
            src="{{ about1_img.url }}"
            alt="{{ about1_img.title }}"
            class="absolute right-0 top-0 h-[235px] lg:h-[336px] md:h-[300px] sm:h-[270px]"
          />
    
      {%image page.about_us_images.1.value fill-281x363 as about2_img%}
          <img
            src="{{ about2_img.url }}" 
            alt="{{ about2_img.title }}"
            class="absolute bottom-0 left-0 h-[235px] lg:h-[336px] md:h-[300px] sm:h-[270px]"
          />
    </div> 
    
      
  </div>
</section>
 
{% comment %} Gallery Section {% endcomment %}
<section id="gallery" class="custom-container my-40">
  <h2 class="2xl:text-5xl text-center text-3xl sm:text-4xl">Galerie</h2>
  {%image page.gallery_images.0.value width-300 as img1%}
  {%image page.gallery_images.1.value width-300 as img2%}
  {%image page.gallery_images.2.value width-300 as img3%}
  {%image page.gallery_images.3.value width-300 as img4%}
  {%image page.gallery_images.4.value width-300 as img5%}
  {%image page.gallery_images.5.value width-300 as img6%}
  <div class="mt-16 grid grid-cols-2 gap-8 sm:grid-cols-4">
    <div class="flex">
      <img src="{{ img1.url }}" alt="" class="" />
    </div>
    <div class="flex flex-col gap-8">
      <img src="{{ img2.url }}" alt="" class="" />
      <img src="{{ img3.url }}" alt="" class="" />
    </div>
    <div class="flex">
      <img src="{{ img4.url }}" alt="" class="" />
    </div>
    <div class="flex flex-col gap-8">
      <img src="{{ img5.url }}" alt="" class="" />
      <img src="{{ img6.url }}" alt="" class="" />
    </div>
  </div>
  <div class="mt-8 flex w-full justify-center gap-2">
    <button
      class="group cursor-pointer rounded-lg border border-lightgrey bg-white px-5 py-2 hover:bg-mediumgrey"
    >
      <svg
        width="28"
        height="29"
        viewBox="0 0 28 29"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M17.2083 20.7733L10.7916 14.3566L17.2083 7.93994"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="stroke-black group-hover:stroke-darkgrey"
        />
      </svg>
    </button>
    <button
      class="group cursor-pointer rounded-lg border border-lightgrey bg-white px-5 py-2 hover:bg-mediumgrey"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="28"
        height="29"
        viewBox="0 0 28 29"
        fill="none"
      >
        <path
          d="M10.7917 7.93994L17.2084 14.3566L10.7917 20.7733"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="stroke-black group-hover:stroke-darkgrey"
        />
      </svg>
    </button>
  </div>
</section>

{% endblock content %}
