{% extends "base.html" %} {% load static wagtailcore_tags wagtailimages_tags %}
{% block content %}
<section
  class="container h-[830px] bg-bannerImg bg-right bg-no-repeat pt-[216px]"
>
  <div class="max-w-[836px]">
    <div>
      <h1 class="text-h1-desktop sm:text-h1-mobile">{{ page.main_title }}</h1>
      <div class="my-8 w-[669px] font-rethink text-body1 text-darkgrey">
        {{ page.description|richtext }}
      </div>
      <div class="w-[191px] rounded-[100px] bg-black">
        <a href="#" class="flex items-center gap-6 p-1 ps-6">
          <span class="font-rethink font-bold text-body2 text-white"
            >{{ page.call_to_action }}</span
          >
          <svg
            width="38"
            height="38"
            viewBox="0 0 38 38"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="38" height="38" rx="19" fill="white" />
            <path
              d="M24.5 16.25L19 21.75L13.5 16.25"
              stroke="#000D26"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div class="text-center">
    <h2 class="mt-[90px] text-h2-desktop sm:text-h2-mobile text-black">
      Unser Service
    </h2>
    <p class="my-8 font-rethink text-body2 text-darkgrey">
      Der Steinmetz- und Steinbildhauermeister Vincenzo Comite berät Sie
      persönlich in allen Fragen rund um:
    </p>
  </div>
  <div class="grid grid-cols-3 gap-8">
    {% for block in page.services %}
    <div
      class="flex w-[384px] flex-col items-start gap-4 border border-mediumgrey p-4 text-start"
    >
      {% image block.value.image width-352 %}
      <h3 class="text-h3-desktop sm:text-h3-mobile">{{ block.value.title }}</h3>
      <div class="font-rethink text-body1 text-darkgrey">
        {{ block.value.description|richtext }}
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="flex items-start gap-[253px] self-stretch pt-16">
    <div
      class="flex w-[371px] flex-col items-start justify-between self-stretch"
    >
      <h2 class="text-h2-desktop sm:text-h2-mobile text-black">Wir bieten auch</h2>
      <p class="font-rethink text-sm leading-[22.4px] text-black">
        Alle Schriften sind bei uns handgezeichnet und handgeschlagen (keine
        Computer- oder Plotterschriften).
      </p>
    </div>
    <div class="flex w-[592px] flex-col items-start gap-8">
      <h3 class="text-h3-desktop sm:text-h3-mobile">
        Professioneller Handwerksbetrieb für Nachgestaltungen und
        Restaurierungen von Grabmalen
      </h3>
      <p class="font-rethink text-body1 text-darkgrey">
        Wir sind ein erfahrener Handwerksbetrieb, spezialisiert auf die
        Nachgestaltung und Restaurierung von Grabmalen, um ihre Schönheit und
        Bedeutung zu bewahren.
      </p>

      <hr class="w-full text-mediumgrey" />

      <h3 class="text-h3-desktop sm:text-h3-mobile">
        Besondere Fachkenntnisse für Restaurierung von alten Denkmälern
      </h3>
      <p class="font-rethink text-body1 text-darkgrey">
        Mit unseren besonderen Fachkenntnissen in der Restaurierung alter
        Denkmäler schützen und bewahren wir kulturelles Erbe für zukünftige
        Generationen.
      </p>
    </div>
  </div>
</section>
<section class="container">
  <h2 class="mt-[206px] text-center text-h2-desktop sm:text-h2-mobile">Über Uns</h2>
  <div class="relative mt-[64px] flex items-start gap-[104px]">
    <!-- Timeline Content -->
    <div class="flex flex-col items-start gap-8">
      <h3 class="mb-[64px] text-h3-desktop sm:text-h3-mobile">Unsere Geschichte</h3>

      <div class="flex items-start gap-10">
        <div class="flex w-[150px] items-center justify-end gap-3">
          <p class="font-sm font-rethink text-body3 text-darkgrey">
            Februar, 1967
          </p>
          <svg
            width="17"
            height="16"
            viewBox="0 0 17 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              cx="8.94275"
              cy="8"
              r="7"
              fill="#EDEDED"
              stroke="#636363"
              stroke-width="2"
            />
          </svg>
        </div>
        <div class="flex w-[384px] shrink-0">
          <p class="font-rethink text-body1">
            Der Betrieb wurde von Steinmetzmeister Siegfried Weiss gegründet.
          </p>
        </div>
      </div>

      <div class="flex items-start gap-10">
        <div class="flex w-[150px] items-center justify-end gap-3">
          <p class="font-sm font-rethink text-body3 text-darkgrey">
            Dezember, 2005
          </p>
          <svg
            width="17"
            height="16"
            viewBox="0 0 17 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              cx="8.94275"
              cy="8"
              r="7"
              fill="#EDEDED"
              stroke="#636363"
              stroke-width="2"
            />
          </svg>
        </div>
        <div class="flex w-[384px] shrink-0">
          <p class="font-rethink text-body1">
            Übernahme des Unternehmens durch Steinmetz- und
            Steinbildhauer-Meister Vincenzo Comité.
          </p>
        </div>
      </div>

      <div class="flex items-start gap-10">
        <div class="flex w-[150px] items-center justify-end gap-3">
          <p class="font-sm font-rethink text-body3 text-darkgrey">
            Aktuell
          </p>
          <svg
            width="17"
            height="16"
            viewBox="0 0 17 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              cx="8.94275"
              cy="8"
              r="7"
              fill="#EDEDED"
              stroke="#636363"
              stroke-width="2"
            />
          </svg>
        </div>
        <div class="flex w-[384px] flex-col">
          <p class="font-rethink text-body1">
            Die Firma Grabmale Weiss e.K. beschäftigt derzeit einen
            Steinmetz-und Steinbildhauer-Meister, einen Steinmetzgesellen, einen
            Steinmetzlehrling und eine Bürokraft.
          </p>
          <p class="font-rethink text-body1">
            Die Firma Grabmale Weiss ist zudem ein langjähriger und erfahrener
            Ausbildungsbetrieb.
          </p>
        </div>
      </div>
    </div>
    <div>
      <img
        src="{% static 'assets/about1.png' %}"
        alt=""
        class="absolute right-0 top-0"
      />
      <img
        src="{% static 'assets/about2.png' %}"
        alt=""
        class="absolute bottom-0 right-[240px]"
      />
    </div>
  </div>
</section>

<section class="container my-[200px]">
  <h2 class="text-center text-h2-desktop sm:text-h2-mobile text-black">Galerie</h2>
  <div class="mt-[64px] grid grid-cols-4 gap-8">
    <div class="flex">
      <img src="{% static 'assets/about2.png' %}" alt="" class="" />
    </div>
    <div class="flex flex-col gap-8">
      <img src="{% static 'assets/galery1.png' %}" alt="" class="" />
      <img src="{% static 'assets/galery2.png' %}" alt="" class="" />
    </div>
    <div class="flex">
      <img src="{% static 'assets/about1.png' %}" alt="" class="" />
    </div>
    <div class="flex flex-col gap-8">
      <img src="{% static 'assets/galery3.png' %}" alt="" class="" />
      <img src="{% static 'assets/galery4.png' %}" alt="" class="" />
    </div>
  </div>
  <div class="mt-8 flex w-full justify-center gap-2">
    <buttton
      class="cursor-pointer rounded-lg border border-lightgrey bg-white px-5 py-2"
    >
      <svg
        width="28"
        height="29"
        viewBox="0 0 28 29"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M17.2083 20.7733L10.7916 14.3566L17.2083 7.93994"
          stroke="black"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </buttton>
    <buttton
      class="cursor-pointer rounded-lg border border-lightgrey bg-white px-5 py-2"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="28"
        height="29"
        viewBox="0 0 28 29"
        fill="none"
      >
        <path
          d="M10.7917 7.93994L17.2084 14.3566L10.7917 20.7733"
          stroke="black"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </buttton>
  </div>
</section>

{% endblock content %}
